description "Consul Agent"

start on (local-filesystems and net-device-up IFACE=!lo)
stop on runlevel [016]

setuid consul
setgid consul

respawn
respawn limit 10 10

script
  export GOMAXPROCS="$(nproc)"
  exec consul agent -config-file={{ consul_config_file }} -config-dir={{ consul_config_dir }}
end script

{% if consul_leave_on_terminate -%}
pre-stop exec {{ consul_home }}/bin/consul leave
{% endif -%}

# Avoid Upstart re-spawning the process upon `consul leave`
normal exit 0 INT

kill timeout 10
